muleapplicationpoc1/src/main/mule/getMethod.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="get-method-flow" doc:id="3e446aa8-c5bd-4eee-8dfb-ca8ce6c1d365" >
		<logger level="INFO" doc:name="startLogger" doc:id="9c2062c3-b04d-4c27-99b7-f307b569b4b9" message="Started Flow"/>
		<ee:transform doc:name="setOutput">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	uniqueId: attributes.headers.vendorName ++ " - " ++ uuid(),
	currentDate: (now() >> IST) as String {format: "dd-MM-uuuu KK:mm a"},
  	status: "Success"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="endLogger" doc:id="bebac987-9c7f-4476-9726-ac1451afc6b1" message="#[payload]"/>
	
</flow>
</mule>
